@font-face {
  font-family: Proxima Nova Reg;
  src: url('../fonts/Proxima Nova/ProximaNova-Reg.otf');
}

@font-face {
  font-family: Proxima Nova SBold;
  src: url('../fonts/Proxima Nova/ProximaNova Semibold.otf');
}

@font-face {
  font-family: Proxima Nova Light;
  src: url('../fonts/Proxima Nova/ProximaNova-Light.otf');
}

$big-tablet: 960px;
$tablet: 700px;
$mobile: 620px;
$small-mobile: 300px;

$colors: (
        line-dark: #EBECF0,
        line-light: #F7F7F9,
        font-dark: #2B292D,
        font-light: #5B5664,
        act-elem-dark: #EEB20B,
        act-elem-light: #FFC380,
        babies-dark: #D44141,
        babies-light: #F94F4C,
        teens-dark: #00929A,
        teens-light: #00B9C4
);

$font-sizes: (
        basic-size: 14px,
        header-size: 18px
);

@function color($color-name) {
  @return map_get($colors, $color-name);
}

@function font($font-name) {
  @return map_get($font-sizes, $font-name);
}

@mixin big-tablet {
  @media (max-width: #{$big-tablet}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: #{$small-mobile}) {
    @content;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: font(basic-size);
  color: color(font-dark);
  font-family: 'Proxima Nova Reg';
  margin: 0;
}

header {
  display: flex;
  border: solid thin color(line-dark);
  font-family: 'Proxima Nova SBold';

  a {
    color: color(font-dark);
  }
}

header > * {
  text-align: center;
  padding: 20px 0 10px;

  &:first-child {
    font-size: font(header-size);
    letter-spacing: 7px;
    border-right: solid thin color(line-dark);
    min-width: 140px;
  }

  &:nth-child(2) {
    text-align: left;
    padding-left: 20px;
    width: 55%;

    @include mobile {
      min-width: 30%;
    }

    &::after {
      background-image: url("../images/arrow-down.svg");
      background-size: 10px 20px;
      display: inline-block;
      width: 10px;
      height: 13px;
      content:"";
    }

    @include small-mobile {
      display: none;
    }
  }

  &:last-child {
    border-left: solid thin color(line-dark);
    padding-top: 15px;
    min-width: 90px;

    img {
      margin-right: 5px;
    }
  }
}

header ul {
  width: 400px;
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: flex-end;

  li {
    letter-spacing: 1px;
    margin-right: 25px;

    @include tablet {
      margin-right: 10px;
    }

    @include mobile {
      display: none;
    }

    &:first-child {
      min-width: 100px;
    }
  }
}

a {
  text-decoration: none;
  text-underline: none;
}

header ul li:hover {
  cursor: pointer;
  position: relative;

  &::after {
    display: block;
    content: '';
    width: 50%;
    height: 2px;
    background-color: color(act-elem-dark);
    position: absolute;
    bottom: 20%;
    left: 25%;
  }
}

.active-elem {
  color: color(act-elem-light);
}

//Side menu
main {
  width: 100%;
  height: 100%;
  display: flex;
}

.hidden {
  display: none;
}

#menu_babies, #menu_teens {
  height: 100%;
  background-color: color(babies-light);
  display: flex;
  color: white;
  font-family: "Proxima Nova Light";

  a {
    color: white;
  }
}

#menu_teens {
  background-color: color(teens-light);
}


.menu_closed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;

}

.menu_title {
  height: 90%;

  p {
    position: relative;
    top: 40%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    letter-spacing: 1px;
  }
}

.menu_list {
  width: 365px;
  font-size: 18px;
  line-height: 2.2;
  letter-spacing: 1px;

  ul {
    list-style-type: none;
    margin-left: 10%;
    margin-top: 60%;
    position: relative;
  }

  ul li::before {
    content: "";
    background-color: white;
    position: absolute;
    top: 10px;
    left: 0;
    height: 2px;
    width: 25px;
  }
}

.burger_menu {
  margin-top: 25px;
  cursor: pointer;

  &.active-elem {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(3px, 3px);
        width: 22px;
      }

      &:nth-child(even) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(0, -1px);
        width: 22px;
      }
    }
  }
}

.burger_menu span {
  display: block;
  height: 2px;
  background-color: white;
  transition: transform 0.3s cubic-bezier(.54,.1,.42,1.48), width 0.3s ease-out;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  &:nth-child(even) {
    transform-origin: 0 50%;
    width: 15px;
  }

  &:nth-child(odd) {
    width: 20px;
  }
}








