@font-face {
  font-family: Proxima Nova Reg;
  src: url('../fonts/Proxima Nova/ProximaNova-Reg.otf');
}

@font-face {
  font-family: Proxima Nova SBold;
  src: url('../fonts/Proxima Nova/ProximaNova Semibold.otf');
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url('../fonts/Proxima Nova/ProximaNova-Bold.otf');
}

@font-face {
  font-family: Proxima Nova Light;
  src: url('../fonts/Proxima Nova/ProximaNova-Light.otf');
}

$big-tablet: 960px;
$tablet: 700px;
$mobile: 620px;
$small-mobile: 300px;

$colors: (
        line-dark: #EBECF0,
        line-light: #F7F7F9,
        font-dark: #2B292D,
        font-light: #5B5664,
        act-elem-dark: #EEB20B,
        act-elem-light: #FFC380,
        babies-dark: #D44141,
        babies-light: #F94F4C,
        teens-dark: #00929A,
        teens-light: #00B9C4
);

$font-sizes: (
        basic-size: 14px,
        header-size: 18px
);

@function color($color-name) {
  @return map_get($colors, $color-name);
}

@function font($font-name) {
  @return map_get($font-sizes, $font-name);
}

@mixin big-tablet {
  @media (max-width: #{$big-tablet}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: #{$small-mobile}) {
    @content;
  }
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  max-width: 1720px;
  margin: 0 auto;
  font-family: 'Proxima Nova Reg', sans-serif;
  font-size: font(basic-size);
  color: color(font-dark);
  flex-flow: column;
}

header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  border: solid thin color(line-dark);
  font-size: font(basic-size);
  font-family: "Proxima Nova SBold", sans-serif;
  letter-spacing: 1px;
  text-align: center;

  div {
    flex-basis: 70%;
    display: flex;

    a:last-child {
      flex-basis: 10%;
      text-align: left;
      padding: 5px 0 5px 12px;
      margin: 10px 20px;
      background-color: color(act-elem-light);
      border-radius: 15px;
      min-width: 100px;

      &::after {
        background-image: url("../images/arrow-down.svg");
        background-size: 10px 20px;
        display: inline-block;
        width: 10px;
        height: 13px;
        content:"";
      }
    }
  }
}

.header_list {
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-bottom: 14px;
  margin: 0;

  li {
    display: inline-block;
    min-width: 100px;
    padding-top: 15px;

    &:last-child {
      height: 34px;
      border-left: solid thin color(line-dark);
    }
  }
}

.header_list li:not(:last-child):hover {
  &::after {
    display: block;
    content: '';
    width: 50%;
    height: 2px;
    background-color: color(act-elem-dark);
    position: relative;
    bottom: -30%;
    left: 25%;
  }
}

 a {
   text-decoration: none;
   color: inherit;
 }

 .logo {
   flex-basis: 15%;
   border-right: solid thin color(line-dark);
   font-size: font(header-size);
   letter-spacing: 7px;
   padding: 14px 0;
 }

 .header-menu-active {
   color: color(act-elem-dark);
 }

 // Side menu
main {
  display: flex;
  position: relative;
}

#side_menu {
  width: 59px;
}

.burger_menu {
  width: 100%;
  height: 100%;
  background-color: white;
  border-right: solid thin color(line-dark);
  position: relative;
  z-index: 2;

  span {
    display: block;
    height: 2px;
    background-color: color(font-dark);
    transition: transform 0.3s cubic-bezier(.54,.1,.42,1.48), width 0.3s ease-out;
    position: relative;
    top: 25px;
    left: 20px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &:nth-child(even) {
      transform-origin: 0 50%;
      width: 15px;
    }

    &:nth-child(odd) {
      width: 20px;
    }
  }

  &.burger_menu_active {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(3px, 3px);
      }

      &:nth-child(even) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(0, -1px);
      }
    }
  }
}

nav {
  position: absolute;
  top: 0;
  left: 60px;
  width: 95.7%;
  height: 100%;

  ul {
    width: 36%;
    height: 100%;
    display: inline-block;
    margin: 0;
    float: left;
    position: relative;
    z-index: 3;

    border-right: solid thin color(line-dark);
    background-color: white;
    list-style-type: none;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    transition: transform 0.3s;

    li {
      padding-left: 25%;
      line-height: 2.5;
      font-size: font(header-size);
      font-weight: 900;

      &:first-child {
        padding-top: 45%;
      }
    }
  }
}

.menu_items li::before {
  content:"";
  height: 2px;
  width: 30px;
  background-color: color(act-elem-dark);
  display: inline-block;
  visibility: hidden;
  position: relative;
  bottom: 0.55em;
  right: 4%;
}

.menu_items li:hover {
  &::before {
    visibility: visible;
  }
}

.menu_items_hidden {
  transform: translate(-600px, 0);
}

.blurred {
  width: 100%;
  height: 100%;
  top: 0;
  left: 60px;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  z-index: 2;
}

.hidden {
  display: none;
}

#home {
  flex: 1;
}

.main_banner {
  width: 100%;
  height: 450px;
  background: url("../images/bears_2.png") no-repeat bottom right;
  background-size: cover;
}

.descr_wrap {
  position: relative;
  top: 20%;
  left: 5%;
  width: 40%;
  line-height: 3;
}

.art_section {
  color: color(act-elem-dark);
}

.main_title {
  color: white;
  font-size: 40px;
  font-family: "Proxima Nova Bold", sans-serif;
  line-height: 1.2;
  display: block;
}

.date-views {
  color: white;
  font-family: "Proxima Nova Light", sans-serif;
  font-size: 13px;
  display: flex;
  position: relative;
  width: 200px;
  justify-content: space-between;

  .date, .views {
    position: relative;
    left: 25px;
  }

  .date::before, .views::before {
    content: url("../images/calendar.svg");
    position: absolute;
    left: -25px;
    top: 5px;
  }

  .views::before {
    content: url("../images/eye.svg");
    left: -28px;
  }
}

.read-favs {
  color: white;
}

.read_more {
  background-color: color(act-elem-light);
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 3%;
}

.to_favs {
  margin-bottom: -1.5%;
}

.sort_field {
  margin: 3%;

  span {
    cursor: pointer;
  }
}

.sort_active, .sort_field span:hover {
  font-family: "Proxima Nova SBold", sans-serif;
}

.primary_article {
  margin: 5% 10% 5% 5%;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.primary_pic {
  width: 50%;
  height: 240px;
  float: left;
  border-bottom: solid red;
}

.primary_description {
  float: left;
  width: 38%;
  position: relative;
  left: -3%;
  top: -3%;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .art_section {
    padding-bottom: 3%;
    text-align: right;
  }

  .primary_details {
    background-color: white;
    border: solid thin color(line-dark);
    padding: 6% 0 8% 6%;

    .date-views {
      color: color(font-dark);
    }

    .date::before, .views::before {
      top: -3px;
    }

    .views::before {
      top: -2px;
    }

    .title {
      @extend .main_title;
      color: black;
      font-size: 32px;
      width: 110%;
      margin-top: 1em;
      margin-bottom: 1em;

      &::before {
        content:"";
        height: 4px;
        width: 30px;
        background-color: red;
        display: inline-block;
        position: absolute;
        margin-top: 0.2em;
        left: -3%;
      }
    }
  }

  .to_favs {
    position: absolute;
    bottom: -5px;
    right: 15px;
  }
}

.other_articles {
  margin: 2% 10% 5% 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.article_item {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  position: relative;

  .pic_wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;

    .to_favs {
      position: absolute;
      bottom: -8px;
      right: 5%;
    }
  }

  .date-views {
    color: color(font-dark);
  }

  .date::before, .views::before {
    top: -3px;
  }

  .views::before {
    top: -2px;
  }

  .other_title {
    font-size: font(header-size);
    margin-top: 1em;
  }
}

.advice {
  position: relative;

  .primary_pic {
    width: 100%;
    height: 450px;
  }

  .primary_description {
    width: 50%;
    position: absolute;
    left: 10%;

    .art_section {
      padding-bottom: 15%;
      margin-left: -10%;
      text-align: left;
    }

    .primary_details {
      padding: 5% 0 5% 5%;

      .title {
        width: 80%;
      }
    }
  }

  .other_articles {
    padding-bottom: 4%;
    margin-left: 0;
  }

  .art_wrapper {
    background-color: color(line-light);
    padding-top: 2%;
    padding-left: 5%;
  }
}

.teen_review, .reviews-page-title {
  color: color(font-light);
  font-size: font(header-size);
}

.author_column {
  .primary_pic {
    float: right;
  }

  .primary_description {
    float: right;
    left: 2%;
    width: 42%;

    .art_section {
      text-align: left;
    }

    .primary_details {
      padding: 6% 8% 6% 0;

      .title {
        @extend .main_title;
        color: black;
        font-size: 32px;
        width: 120%;
        margin: 1em 0 1em -20%;
        text-align: right;

        &::after {
          content:"";
          height: 4px;
          width: 30px;
          background-color: red;
          display: inline-block;
          position: absolute;
          margin-top: -1em;
          right: -3%;
        }

        &::before {
          background-color: transparent;
        }
      }
      .date-views, .read_more, .to_favs {
        color: color(font-dark);
        float: right;

        &::after {
          content: "";
          clear: both;
          display: table;
        }
      }
    }

    .to_favs {
      left: 15px;
    }
  }
}

// Show more
.show_more {
  letter-spacing: 1px;
  margin: 5% auto;
  position: relative;
  width: 15%;

  &::before {
    content: url('../images/rotate-ccw.svg');
    position: absolute;
    left: -30px;
    bottom: -7px;
  }
}

// Footer
footer {
  color: color(font-light);
  background-color: color(line-light);
  display: flex;
  justify-content: space-around;
  padding: 30px 0 50px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

.subscribe {
  flex-basis: 25%;
  letter-spacing: 1px;

  input[type=email] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid color(font-light);
    background: transparent;
    margin-bottom: 10px;
    height: 60px;

    &::placeholder {
      color: color(font-dark);
      font-size: 16px;
    }
  }

  input[type=submit] {
    background: url("../images/arrow-right.svg");
    border: none;
    cursor: pointer;
    float: right;
    width: 23px;
    margin-top: -50px;
    color: transparent;
  }
}

.social {
  flex-basis: 15%;
  letter-spacing: 1px;
}

.social_images {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 30px;
}

.copyright {
  flex-basis: 25%;
  font-size: font(basis-size);
}

// Reviews page
.reviews-page-title {
  margin-top: 3%;
}