/* Reviews page*/
#home {
  padding-top: 2%;
  padding-left: 5%;

  & > *, .primary_article, .other_articles {
    margin-left: 0;
  }
}

.reviews-page-title {
  display: block;
}

.filter_field, .sort_field {
  display: inline-block;
}

.sort_field {
  margin-bottom: 0;
}

.filter_field span {
  border: solid thin #EBECF0;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;

  &:hover {
    color: #EEB20B;
  }
}

